header {
	position:relative;
	left:0;
	top:0;
	width:100%;
	min-height:100px;
	padding:20px;
	color:#fff;
	background: #383838;
	margin-bottom:20px;
}

header h1 {
    font-weight:300;
    font-size:24px;
    color:#eee;	
	letter-spacing:2px;
	text-align:center;
	text-transform:uppercase;
	margin:0 !important;
	padding-bottom:25px;
}
a {
    font-family: "Open Sans";
    margin: 0px;
}

a,
a:hover,
a:focus {
    color: inherit;
}

body {
    background-color: #F1F2F3;
}

.container {
    max-width: 1200px;
}

.card-container {
    padding: 120px 0px;
    -webkit-perspective: 1000;
    perspective: 1000;
}


.rita_profile {
    max-width: 350px;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    margin: 1px auto;
    cursor: pointer;
}

.rita_profile img {
    transition: all 0.15s linear;
}

.rita_profile .profile-name {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 25px;
    font-weight: bold;
    color: #FFF;
    padding: 15px 20px;
    background: linear-gradient(140deg, rgba(0, 0, 0, 0.4) 50%, rgba(255, 255, 0, 0) 50%);
    transition: all 0.15s linear;
}

.rita_profile .profile-position {
    position: absolute;
    color: yellow;
    left: 40px;
    top: 100px;
    transition: all 0.15s linear;
}

.rita_profile .profile-overview {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 50%, rgba(255, 255, 0, 0));
    color: yellow;
    padding: 50px 0px 20px 0px;
    transition: all 0.15s linear;
}

.rita_profile .profile-overview h3 {
    font-weight: bold;
}

.rita_profile .profile-overview p {
    color: rgba(255, 255, 255, 0.7);
}

.rita_profile:hover img {
    filter: brightness(80%);
}

.rita_profile:hover .profile-name {
    padding-left: 25px;
    padding-top: 20px;
}

.rita_profile:hover .profile-position {
    left: 40px;
}

.rita_profile:hover .profile-overview {
    padding-bottom: 25px;
}
